@font-face {
  font-family: "League Gothic Regular";
  src: url('../fonts/LeagueGothic-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Light";
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Extra-bold";
  src: url('../fonts/OpenSans-ExtraBold.ttf');
  font-weight: bold;
  font-style: normal;
}
.wrapper1{
  max-width: 960px;
  height: 846px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}
.header{
  margin: 0 auto;
  position: relative;
}
.logo{
  text-align: left;
  margin-left: 1%;
  width: 150px;
  float: left;
  padding-top: 70px;
}
.nav-menu{
  margin: 0 auto;
  width: 100%;
  margin-left: 8%;
  margin-right: 1%;
  position: relative;
  padding-top: 25px;
  text-align: center;
}
.menu{
  padding-top: 50px;
  display: block;
  float: right;
  width: 736px;
  border-bottom: 2px solid transparent;
}
.menu__item {
  float: left;
  list-style: none;
}
.menu__link {
  text-align: right;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.menu li{
  margin-right: 3%;
}
.menu li:hover{
  border-bottom: 2px solid #edbfff;
}
.drop-menu{
  font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 18px;
    width: 245px;
    display: none;
}
/*.drop-menu__wrapper{
  margin: 0 auto;
  text-align: center;
}*/
.drop-menu__wrapper:hover{
    /*border: 1px solid #0f191f;*/
}
.drop-menu li{
    border-left: 1px solid #0f191f;
    border-right: 1px solid #0f191f;
  list-style: none;
  position: relative;
  width: 245px;
  padding-right: 20px;
  color: white;
  background: #3f3247;
  padding-top: 10px;
  padding-bottom: 10px;
  /*border-left: 1px solid black;*/
}
/*говорит, что влево выстраивается только li 1-го уровня, для li вложенных в потомках не применяется!!!! */
.drop-menu > li{
  float: left;
  background: #3f3247;
    text-transform: uppercase;
    border-left: 1px transparent;
    border-right: 1px transparent;
}
/*зачистка границ после меню*/
.drop-menu:after{
  content: '';
  clear: both;
  width: 100%;
  height: 0;
}
.menu:after{
  content: '';
  clear: both;
  width: 100%;
  height: 0;
}
.nav-menu:after{
  content: '';
  clear: both;
  width: 100%;
  height: 0;
}
.drop-menu a{
  text-decoration: none;
  color: white;
}
.drop-menu li{
  background-color : transparent;
  border-left: 1px solid #0f191f;
    border-right: 1px solid #0f191f;
}
.drop-menu >li{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.drop-menu >li:hover{
    border-left: 1px solid #0f191f;
    border-right: 1px solid #0f191f;
}
.drops li:last-child{
    border-bottom: 1px solid #0f191f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.drop-menu >li:hover:first-child{
    border-top: 1px solid #0f191f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.drop-menu__button li{
  background-color : #3f3247;
  border-bottom: 2px solid rgba(237, 191, 255, 0.1);
}
.drop-menu__button:hover{
  background-color : #3f3247;
  border-bottom: 2px solid #3f3247;
}
.drop-menu__button li:hover{
  background-color : #29202f;
  border-bottom: 2px solid #edbfff;  
}
.drop-menu__button > a{
  border-bottom: 1px solid #edbfff;
}
/*top: 100% и left:0 выстраивают подменю ровно относительно пункта меню!!!!!!*/
.drops{
  display: none;
  position: absolute;
  top: 100%;
  width: 100px;
  left: -1px;
  z-index: 2;
}
.drop-menu li:hover .drops{
  display: block;
}
.slider-box{
  margin: 165px auto;
  clear: both;
  min-width: 960px;
  background: rgba(0, 0, 0, 0.2);
  padding-bottom: -1px;
  padding-top: -1px;
  z-index: 10;
  font-family: "League Gothic Regular", Arial, sans-serif;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.slider__item{
  margin: 0 auto;
  clear: both;
  width: 960px;
  margin-top: 6%;
  text-align: center;
  position: relative;
}
.sprite-arrow {
  display: none;
  margin-top: 13px;
    width: 22px;
    height: 34px;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
}
.sprite-left-arrow {
  width: 3%;
    background-position: -5px -5px;
    float: left;
}
.sprite-left-arrow:hover {
    background-position: -37px -5px;
}
.sprite-right-arrow {
  display: none;
  background-position: -69px -5px;
  float: right;
  width: 3%;
}
.sprite-right-arrow:hover {
    background-position: -101px -5px;
}
.slider__titles{
  width: 53%;
  margin-left: 0%;
  margin-top: 3.3%;
  line-height: 1.3;
  text-align: left;
  float: left;
}
.slider__title{
  font-family: "League Gothic Regular", Arial, sans-serif;
  font-size: 30px;
  letter-spacing: normal;
  color: white;
  line-height: 45px;
  font-weight: 300px;
}
.slider__title2{
  margin-bottom: 0px;
  font-size: 20px;
  color: #edbfff;
  text-transform: uppercase;
}
.slider_title2-span{
  display: inline;
}
.slider__item__text{
  margin-top: 1%;
  margin-bottom: 80px;
  display: block;
  font-size: 18px;
  font-family: "OpenSans Light", Arial, sans-serif;
  color: #fff;
  text-align: left;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: -0.05px;
}
.slider__img {
  float: right;
  margin-right: 7%;
  margin-top: -7%;
  width: 29%;
  height: 425px;
  display: block;
}
.slider-bg {
    position: absolute;
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 100%;
  }
.slider__slider-img{
  float: right;
  margin-top: 495px;
  margin-right: 18%;
  clear: both;
  /*margin: 0 auto;*/
  text-align: center;
}
.about{
  margin: 0 auto;
  max-width: 960px;
  height: 270px;
  padding-left: 0%;
  clear: both;
  background: #745183;
  padding-top: 70px;
  color: green;
  position: relative;
  box-shadow: inset 0px  -2px #15151e;
}
.content__name {
  font-family: "League Gothic Regular", Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
}
.about-content{
  padding-top: 0.5%;
  max-width: 317px;
  text-align: center;
  display: inline-block;
  max-height: 180px;
  margin: 0 auto;
  clear: both;
  /*max-width: 280px;*/
  /*text-align: left;*/
  position: relative;
  padding-bottom: 159px;
}
.about-content-text{
  margin-top: -3%;
  font-size: 15px;
  line-height: 1.7;
  height: 170px;
  width: 70%;
  margin-left: 8%;
  margin-bottom: 25px;
  float: left;
  text-align: left;
  overflow: hidden;
}
.about-content__title{
  font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: +0.2px;
    text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
}
.about-content__text {
  padding-top: 2%;
  font-family: "OpenSans Light", Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
  word-wrap: break-word;
  line-height: 1.5;
}
.additional-padding{
  padding-top: 12px;
}
.about-content__link{
  margin-right: 35px;
  margin-bottom: -36px;
  text-align: right;
    text-decoration: none;
    font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  float: right;
  text-decoration: none;
  margin-top: -8px;
}
.about-content__link:hover{
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
.container__mark {
  float: left;
  height: 30px;
  width: 27px;
  display: inline-block;
  background: url('../img/keys.png') 0 0 no-repeat;
  margin-left: 5%;
  margin-top: 1%;
}
.key{
  background-position: -0px 0;
}
.key:hover{
  background-position: -0px -32px;
}
.cloud{
  margin-left: 2%;
  background-position: -26px 0;
}
.cloud:hover{
  background-position: -26px -32px;
}
.melody{
  background-position: -56px 0;
}
.melody:hover{
  background-position: -56px -32px;
}
.slider-img{
  float: left;
  width: 12%;
  height: 100px;
  position: relative;
  display: inline-block;
}
.photo {
  background: url('../img/photo.png')no-repeat;
}
.slider-text{
  width: 70%;
  float: left;
    padding-left: 20%;
}
.info{
  text-align: left;
  display: inline-block;
}
.slider1{
  padding-top: 280px;
  padding-left: 192px;
}
.info-box{
  margin: 0 auto;
  height: 580px;
  max-width: 960px;
  /*padding-top: 3%;*/
  clear: both;
  text-align: center;
  padding-bottom: 1px;
  background-color: #f9f9f9;
}
.news{
  float: left;
  width: 50%;
  position: relative;
  margin-top: 90px;
  margin-bottom: 25px;
  background: url('../img/news.png') 0 0 no-repeat;
}
.news__text {
  width: 97%;
  margin-top: 2%;
  font-family: "OpenSans Light", Arial, sans-serif;
  font-size: 16px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  line-height: 1.54;
  text-align: left;
  word-wrap: break-word;
  text-align: left;
  height: 220px;
  overflow: hidden;
}
.news__title1{
  font-family: "League Gothic Regular", Arial, sans-serif;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    padding-top: 2%;
    letter-spacing: -0.1px;
}
.news__title2{
  color: #edbfff;
  padding-top: 0%;
  display: inline;
}
.slider{
  clear: both;
  padding-top: 49px;
  padding-bottom: 50px;
  padding-left: 120px;
  height: 15px;
  display: none;
}
.sprite {
  height: 48px;
  width: 48px;
  display: inline-block;
  background: url('../img/sprite1.png') 0 0 no-repeat;
}
.ball1{
  background-position: -0px 0;
}
.ball2{
  background-position: -0px -49px;
}
.ball3{
  background-position: -0px -97px;
}
.updates{
  margin-top: 10.5%;
  float: right;
  width: 47%;
  margin-bottom: 80px;
  position: relative;
}
.updates__list{
  clear: both;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.updates__item{
  margin-top: 16px;
  position: relative;
  clear: both;
}
.updates__img{
  position: relative;
  width: 10%;
  float: left;
  clear: both;
}
.updates__text-all{
  width: 90%;
  float: left;
  position: relative;
  margin-bottom: 16px;
}
.updates__title{
  font-family: "League Gothic Regular", Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #454545;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.updates__text{
  float: left;
    margin-left: 3.5%;
    font-family: "OpenSans Light", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.1px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    line-height: 25px;
    max-height: 25px;
    overflow: hidden;
}
.updates__text-bold{
  font-family: "OpenSans Extra-bold", Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
}
.updates__link{
  clear: both;
  width: 100%;
  float: right;
    margin-top: 1%;
    margin-right: 1%;   
    text-decoration: none;
    font-family: "League Gothic Regular", Arial, sans-serif;
    text-align: right;
    color: #454545;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.info__logos{
    clear: both;
  padding: 0 0 0 4%;
  margin-top: 165px;
  border-top: 1px solid #e6e6e6;
}
.info__logos__img{
  margin-top: 25px;
  padding: 0 0 0 6%;
  display: inline-block;
  margin-top: 65px;
}
.info__logos__img-long{
  padding: 0 0 0 5%;
}
.finish{
  margin: 0 auto;
  height: 396px;
  max-width: 960px;
    display: block;
  border-top: 1px solid #e6e6e6;
  background-color: #ececec;
}
.list__title {
  font-family: "League Gothic Regular", Arial, sans-serif;
  text-transform: uppercase;
  color: #454545;
  text-align: left;
  font-size: 22px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.list__title-great{
  font-size: 30px;
}
.list__content {
    height: 133px;
    overflow: hidden;
}
.list__text {
  clear: both;
  padding-top: 9px;
  font-family: "OpenSans Light", Arial, sans-serif;
  color: #787878;
  line-height: 1.5;
  word-break: break-all;
  letter-spacing: -0.1px;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  overflow: hidden;
}
.list__item {
  float: left;
  width: 27%;
  margin-left: 0%;
  margin-right: 6%;
  height: 133px;
  padding-bottom: 53px;
}
.list{
  padding-top: 10%;
}
.list__text--italic{
  display: inline;
  line-height: 1.4;
  font-family: Georgia, serif;
  font-style: italic;
  color: #c5c5c5;
}
.list__title--color{
  display: inline;
  color: #b9b9b9;
}
.footer{
  max-width: 960px;
  margin: 0 auto;
  background: url('../img/back.jpg') no-repeat;
  background-position: bottom center;
  height: 200px;
  text-align: center;
  color: white;
}
.menu__item-footer{
  float: left;
  display: block;
  margin-right: 5%;
  float: left;
  list-style: none;
}
  .menu__link-footer {
    font-size: 18px;
  }
.footer__menu{
  margin: 0 auto;
  max-width: 524px;
  padding-top: 0px;
  display: block;
}
.footer__item {
  float: right;
  padding-top: 1%;
  text-align: right;
  font-family: "OpenSans Light", Arial, sans-serif;
  color: #fff;
  font-size: 10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.footer__item--bold {
  font-family: "OpenSans Extra-bold", Arial, sans-serif;
}
.footer-text{
  padding-right: 0px;
  padding-top: 50px;
  font-family: "OpenSans Light", Arial, sans-serif;
  color: #fff;
  float: right;
  font-size: 12px;
}
