@media (min-width:480px) and (max-width:767px) {
.wrapper1{
  height: 548px;
  margin: 0 auto;
}
.slider__item{
	width: 480px;
}
.slider__titles{
	width: 45%;
	margin-left: 1%;
	margin-top: -5px;
}
.slider__img {
  float: right;
  margin-right: 7%;
  margin-top: -2%;
  width: 30%;
}
.slider__img {
  display: block;
}
.slider-bg {
    /*background: rgba(0, 0, 0, 0.2);*/
    background: green;
    margin-bottom: -1px;
}
.about-content{
	max-width: 440px;
}
.about-content-text{
	height: 120px;
	width: 80%;
}
.info-box{
	max-width: 440px;
}
.news__text {
  height: 220px;
}
.news__title2{
	display: inline;
}
.updates{
	margin-left: 20%;
}
.finish{
	display: block;
	max-width: 440px;
}
.list__item {
    width: 95%;
    height: 133px;
    overflow: hidden;
    padding-bottom: 53px;
  }
.list__content {
    height: 133px;
    overflow: hidden;
  }
  .footer__menu{
	display: block;
	max-width: 440px;
}
.menu__item-footer {
    float: left;
    list-style: none;
    padding-right: 5%;
  }
  .menu__link-footer {
    font-size: 19px;
  }
  .footer-text{
	padding-top: 70px;
}
}
@media (min-width:768px) and (max-width:959px) {
.wrapper1{
  height: 800px;
  margin: 0 auto;
}
.menu{
	display: block;
	width: 768px;
}
.menu li:hover{
	border-bottom: 2px solid #edbfff;
}
.menu li{
	margin-right: 6%;
}
.logo{
	text-align: left;
	margin-left: 9%;
}
.drop-menu{
	display: none;
}
.nav-menu{
	width: 100%;
	margin-left: 9%;
}
.slider__item{
	clear: both;
	width: 768px;
	margin-top: 6%;
}
.slider__titles{
	width: 45%;
	margin-left: 3%;
    line-height: 1.3;
}
.slider__title{
	font-size: 48px;
}
.slider__title2{
	margin-bottom: 0px;
	font-size: 28px;
}
.slider__item__text{
	margin-bottom: 80px;
	display: block;
}
.slider__slider-img{
	float: right;
	margin-top: 350px;
	margin-right: 50px;
}
.slider__img {
  float: right;
  margin-right: 7%;
  margin-top: -2%;
  width: 30%;
}
.slider__img {
  display: block;
}
.slider-box {
	clear: both;
    background: rgba(0, 0, 0, 0.2);
    padding-bottom: -1px;
    padding-top: -1px;
    z-index: 10;
}
.slider-bg {
	position: absolute;
	margin-top: 0px;
    background: rgba(0, 0, 0, 0.2);
	height: 300px;
}
.sprite-left-arrow {
	width: 3%;
}
.sprite-right-arrow {
	width: 3%;
}
.about-box{
	height: 344px;
	padding-left: 10%;
}
.about-content{
	max-width: 224px;
	text-align: center;
	display: inline-block;
	max-height: 180px;
}
.about-content-text{
	height: 190px;
	width: 70%;
}
.info{
	display: inline-block;
}
.info-box{
	height: 600px;
	max-width: 760px;
}
.news{
	float: left;
	width: 40%;
}
.updates{
	float: right;
	width: 50%;
	position: relative;
}
.slider{
	display: none;
}
.news__text {
  height: 220px;
}
.news__title2{
	display: inline;
}
.finish{
	display: block;
	max-width: 728px;
}
.list{
	padding-top: 15%;
}
.list__item {
	float: left;
    width: 25%;
    margin-left: 6%;
    height: 133px;
    overflow: hidden;
    padding-bottom: 53px;
  }
.list__content {
    height: 133px;
    overflow: hidden;
  }
  .footer__menu{
	display: block;
	max-width: 728px;
}
.menu__item-footer {
    float: left;
    list-style: none;
    padding-right: 5%;
  }
  .menu__link-footer {
    font-size: 19px;
  }
  .footer-text{
	padding-top: 70px;
}
.info__logos{
	clear: both;
}
.info__logos__img{
  padding: 0 0 0 6%;
}
.finish{
	height: 400px;
}
.footer-text{
	clear: both;
	text-align: right;
	padding-right: 20px;
	padding-top: 40px;
}
.footer__menu{
	max-width: 524px;
	padding-left: 20px;
	float: left;
}
.footer__menu li {
	text-align: center;
    padding-right: 4%;
}
}
@media (min-width:960px) and (max-width:2010px) {
	.wrapper1{
  height: 846px;
  margin: 0 auto;
}
header{
	display: inline-block;
	width: 100%;
	position: relative;
	/*height: 846px;*/
}
.sprite-arrow{
	display: none;
}
.sprite-right-arrow{
	display: none;
}
.menu{
	padding-top: 50px;
	display: block;
	float: right;
	width: 736px;
	border-bottom: 2px solid transparent;
}
.menu li:hover{
	border-bottom: 2px solid #edbfff;
}
.menu li{
	margin-right: 7%;
}
.logo{
	text-align: left;
	margin-left: 1%;
	width: 150px;
	float: left;
}
.drop-menu{
	display: none;
}
.nav-menu{
	width: 100%;
	margin-left: 9%;
}
.slider__item{
	clear: both;
	width: 960px;
	margin-top: 6%;
}
.slider__titles{
	width: 53%;
	margin-left: 0%;
	margin-top: 3.3%;
    line-height: 1.3;
}
.slider__title{
font-family: "League Gothic Regular", Arial, sans-serif;
  font-size: 60px;
  letter-spacing: normal;
}
.slider__title2{
	margin-bottom: 0px;
	font-size: 32px;
}
.slider_title2-span{
	display: inline;
}
.slider__item__text{
	margin-top: 1%;
	margin-bottom: 80px;
	display: block;
	font-size: 18px;
}
.slider__slider-img{
	float: right;
	margin-top: 495px;
	margin-right: 18%;
}
.slider__img {
  float: right;
  margin-right: 7%;
  margin-top: -7%;
  width: 29%;
  height: 425px;
  display: block;
}
.slider-box {
	margin: 165px auto;
	clear: both;
	min-width: 960px;
    background: rgba(0, 0, 0, 0.2);
    padding-bottom: -1px;
    padding-top: -1px;
    z-index: 10;
}
.slider-bg {
	position: absolute;
	margin-top: 0px;
    background: rgba(0, 0, 0, 0.2);
	height: 400px;
}
.sprite-left-arrow {
	width: 3%;
}
.sprite-right-arrow {
	width: 3%;
}
.about-box{
	height: 270px;
	padding-left: 0%;
}
.about-content{
	padding-top: 0.5%;
	max-width: 320px;
	text-align: center;
	display: inline-block;
	max-height: 180px;
}
.about-content-text{
	margin-top: -3%;
	font-size: 15px;
	line-height: 1.7;
	height: 170px;
	width: 70%;
}
.about-content__title{
	font-size: 30px;
}
.about-content__link{
	margin-right: 35px;
	margin-bottom: -36px;
}
.cloud{
	margin-left: 2%;
}
.info{
	display: inline-block;
}
.info-box{
	height: 600px;
	max-width: 960px;
	padding-top: 3%;
}
.news{
	float: left;
	width: 50%;
}
.slider-img{
	width: 12%
}
.updates{
	margin-top: 10.5%;
	float: right;
	width: 47%;
	position: relative;
}
.updates__img{
	width: 10%;
}
.updates__text-all{
	width: 90%;
}
.slider{
	display: none;
}
.news__text {
  height: 220px;
}
.news__title1{
	font-size: 30px;
}
.news__title2{
	display: inline;
}
.finish{
	display: block;
	max-width: 728px;
}
.list{
	padding-top: 8%;
}
.list__item {
	float: left;
    width: 27%;
    margin-left: 0%;
    margin-right: 6%;
    height: 133px;
    padding-bottom: 53px;
  }
.list__title {
	font-size: 30px;
  }
.list__title-great{
	font-size: 48px;
}
.list__content {
    height: 133px;
    overflow: hidden;
}
.list__text--italic{
	display: inline;
}
.list__title--color{
	display: inline;
}
.footer__menu{
	display: block;
	max-width: 728px;
}
.menu__item-footer {
    float: left;
    list-style: none;
    padding-right: 5%;
  }
  .menu__link-footer {
    font-size: 19px;
  }
  .footer-text{
	padding-top: 70px;
}
.info__logos{
	clear: both;
	padding: 0 0 0 4%;
}
.info__logos__img{
  padding: 0 0 0 6%;
}
.finish{
	height: 374px;
	max-width: 960px;
}
.footer__menu{
	max-width: 524px;
	padding-top: 0px;
}
.footer__menu li {
	text-align: center;
    margin-right: 1%;
}
.footer-text{
	text-align: right;
	padding-right: 20px;	
}
}