.wrapper1{
  background: url('../img/bg.png');
  /*background: red;*/
  background-repeat: no-repeat;
  /*background-position: center;*/
  position: relative;
}

header{
  width: 100px;
  /*height: 1200px;*/
  margin: 0 auto;
  /*background: green*/
}

.logo{
	text-align: center;
}

.drop-menu{

}
/*говорит, что влево выстраивается только li 1-го уровня, для li вложенных в потомках не применяется!!!! */
.drop-menu > li{
	float: left;
	background: grey;
}

.drop-menu li{
	list-style: none;
	position: relative;
	width: 120px;
	padding-right: 20px;
	color: white;
	background: grey; 
}


/*зачистка границ после меню*/
/*.drop-menu:after{
	content: '';
	clear: both;
	width: 100%;
	height: 0;
}*/

.drop-menu a{
	text-decoration: none;
}

/*top: 100% и left:0 выстраивают подменю ровно относительно пункта меню!!!!!!*/
.drops{
	display: none;
	position: absolute;
	top: 100%;
	width: 100px;
	left: 0;
}

.drop-menu li:hover .drops{
	display: block;
}

.about-box{
	background: purple;
}

.finish{
	background: grey;
	display: none;
}

.menu__item-footer{
	float: left;
}

.menu__item-footer {
	display: block;
}

.footer__menu{
	display: none;
}

footer{
	background: url('../img/footer_bg.png');
}