.body{
  font-family: Arial sans-serif;
}

.page {
  margin: 0 auto;
  background: green;
  width: 1000px;
}
.info-registration li{
  float: left;
}
.telephone ul {
  margin-left: -1px;
  padding-top: 2px;
}
.telephone .circle {
  margin-top: -3px;
  margin-left: 4px;
  width: 22px;
  border-radius: 100%;
  background: linear-gradient(to bottom, #0c3357, #1f6786);
  text-align: center;
}
.telephone li {
  float: left;
  padding-top: 4px;
  padding-left: 3px;
  color: #5e696d;
  list-style: none;
  font-size: 18px;
  font-family: Arial, sans-serif;
  letter-spacing: 0.55px;
}
.header .menu li:hover {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background: #303030;
}

.menu {
  background: linear-gradient(to top, #444343, #5E5E5E);
}

.menu li {
  margin: 0px 20px;
  padding: 10px 5px;
  list-style: none;
  border-left-style: solid;
  border-left-color: transparent;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: transparent;
  border-right-width: 1px;
}

.horizontal li{
  float: left;
}

.menu .basket{
   padding-top: 5px;
   padding-bottom: 7px;
}
.header{
  margin: 0 auto;
}
.header-photo img{
  width: 100%;
}

.box {
  margin: 0 auto;
  box-shadow:
  -4px -4px 2px -3px #323232,
  -4px 4px 2px -3px #323232,
  4px -4px 2px -3px #323232,
  4px 4px 2px -3px #323232;
  width: 910px;
  height: 95%;
  background: white;
  font-size: 12px;
  overflow: hidden;
}

.forms3{
  width: 100%;
  height: 135px;
}
main{
  position: relative;
  display: inline;
}
footer{
  background: red;
}
.footer {
  clear: both; 
  background: transparent;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  color: white;
}




.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.footer .menu {
  background: #E1E1E1;
}

a {
  text-decoration: none;
  /*color: white; */
}
.catalogue{
  float: left;
  width: 20%;
}
.goods{
  margin-left: 20%;
  text-align: center;
  width: 60%;
  background: yellow;
}
.brend{
  width: 15%;
  float: right;
}
.line a{
  display: inline-block;
}
.logos{
  text-align: center;
}
.footer a {
  color: green;
}
.footer .menu li:hover > a{
  text-decoration: underline; 
}
