body {
    background: #cc6699;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}
h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
}
h2, h2 a {
    color: #F14E32;
}
h3, h3 a {
  color: #0388A6;
}
a {
  color: #0388A6;
}
pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}
.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
    text-align: center;
}

/*    iCheck    */

.checkbox {
    width: 49.7%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    font-family: monospace;
    color: #8E2800;
    vertical-align: top;
}
.checkbox label {
    display: block;
    margin: 13px;
    cursor: pointer;
}
.checkbox label div {
    margin-right: 10px;
}

/*    Custom Checkbox with CSS    */

#custom-css [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
#custom-css [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 22px;
}


#custom-css [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 3px;
    width: 17px;
    height: 17px;
    border: 2px solid #FFB03B;
    background: #FFF0A5;
}


#custom-css [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 4px;
    left: 6px;
    font-size: 18px;
    line-height: 0.8;
    color: #8E2800;
    transition: all .2s;
}


#custom-css [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
#custom-css [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}


#custom-css [type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before {
    border-color: #bbb;
    background-color: transparent;
}
#custom-css [type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
#custom-css [type="checkbox"]:disabled + label {
    color: #aaa;
}


#custom-css [type="checkbox"]:checked:focus + label:before, [type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted #B64926;
}


#custom-css label:hover:before {
    border: 2px solid #B64926!important;
}


