.wrapper{

}

.header{
  height: 50px;
  background: red;
}

.box{
  float: left;
  width: 29%;
  margin: 20px 2%;
  overflow: hidden;
  height: 100px;
  border: 20px solid black;
  background: green;
  box-sizing: border-box;
}


.footer{
  clear: both;
  height: 50px;
  background: black;
  color: white;
}

.container{
  position: relative;
  overflow: hidden; 
}

@media (max-width:  1024px){
  .box{
    width: 46%;
  }
}

@media (max-width:  640px){
  .box{
    width: 96%;
  }
}




/*// 1-ый стандартный вариант с процентами*/
/*.header {
  height: 50px;
  background: red;
}

.sidebar {
  float: left;
  width: 30%;
  background: yellow;
}

.content {
    float: right;
    background: green;
    width: 70%;
}

.footer {
  clear: both;
  height: 50px;
  background: black;
  color: white;
}*/


/*// 2-ой стандартный вариант с position и пикселями*/
/*.header {
  height: 50px;
  background: red;
}

.container {
  position: relative;
  overflow: hidden; 
}

.sidebar {
  position: absolute; 
  top: 0;
  left: 0;
  width: 300px;
  background: yellow;
}

.content {
    margin-left: 300px;
    float: right;
    background: green;
}

.footer {
  clear: both;
  height: 50px;
  background: black;
  color: white;
}*/