@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneue-thin-webfont.eot');
  src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'), url('../fonts/helveticaneue-thin-webfont.woff') format('woff'), url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneue-thin-webfont.eot');
  src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'), url('../fonts/helveticaneue-thin-webfont.woff') format('woff'), url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: "Helvetica Neue", Tahoma;
  background: #EEEEE0;
}

.page {
  margin-top: 10px;
}

.box {
  margin: 0 auto;
  width: 1210px;
  height: 1060px;
  background: #064e8e;
  border: 2px solid white;
  outline: 2px solid grey;
}

.content {
  clear: both;
  width: 1210px;
  height: 1015px;
  background: url('../img/pic.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  text-align: center;
}

.header{
  background: red;
  position: relative; 
}

.header-box {
  background: #064e8e;
}

.header .menu li:hover {
  background: #4eabda;
}

.header .menu li:hover > a{
  background: #4eabda;
  color: white;
}

.menu {
  float: right;
  background: #064e8e;
}

.menu li {
  margin: 0px;
  padding: 15px 15px;
  list-style: none;
  border-left-style: solid;
  border-left-color: transparent;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: transparent;
  border-right-width: 1px;
}

.right li{
  float: right;
}

.left li{
  float: left;
}

.div_right {
  float: right;
}

.div_left {
  float: left;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

a {
  text-decoration: none;
  color: #60b5ed; 
}

.header_image a {
  color: white;
}

.all_content {
  margin-top: 215px;
  margin-left: 350px;
  width: 560px;
  height: 620px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.content_box1 {
  margin-bottom: 40px;
  height: 60px;
  border-bottom: 4px solid white;
  font-size: 16px;
}

.content_box1 p{
  padding-top: 10px;
  font-size: 30px;
}

.content_box2 {
  height: 60px;
  margin-bottom: 10px;
}

.content_box2 p{
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 30px;
}

fieldset {
    border: 1px solid #000;
}

.content_borders {
  width: 120px;  
  margin-top: 0px;  
  border-style: solid; 
  border-width: 2px; 
  border-top-color: green; 
  border-top-color: #666666; 
  color: black;
}

.content_borders_text {  
  margin-bottom: -10px; 
  color: #666666;
}

.text_between_lines > span {
  display: block;
}

.content_borders_left {
  margin-left:140px; 
}

.content_borders_right {
  margin-right:140px;

}

.header_image{
  margin-top: -14px;
}

.left_border {
  float:right; 
  width: 30px; 
  margin-right:100px; 
  margin-top:5px;
  border-style: solid; 
  border-width: 2px; 
  border-top-color: green; 
  border-top-color: blue; 
}

.input_field input{
  width: 275px;
  min-height: 35px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.input_checkbox{
  text-align: center;
}

.input_checkbox input{
  width: 15px;
  height: 15px;
  margin-left: -35px; 
  margin-bottom: 20px;
}

.input_submit input{
  width: 150px;
  height: 35px;
  margin-bottom: 20px;
}

button {
  width: 275px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #7789b7, #2e4476);
  border-color: #7586b1;
}
button li {
  float: left;
  padding: 5px 7px;
  color: white;
  font-size: 14px;
}
button li:first-child {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}
button li:last-child {
  padding: 10px 30px;
  border-left: 1px solid #7586b1;
}

input {
  border: none;
  background: #10100E;
}


input:hover{
  background: #185583;
  box-shadow: -1px 1px 10px 3px #4eabda;
}

.input_submit [type="submit"] {
  background: #4eabda;
  color: #cccccc;
  box-shadow: none;
}

li:nth-child(5) {
  border-right: 1px solid #4eabda;
}

li:nth-child(6) {
  max-height: 35px;
  padding-bottom: 13px;
}

li:nth-child(7) {
  color: white;
  background: #4eabda;
}

li:nth-child(7) span > a {
  color: white;
  text-decoration: underline;
}


.register {
  margin-top: 20px; 
  color: #cccccc;
}

label, p {
  color: #cccccc;
}

p {
   font-size: 12px;
}


